CMakeFiles
Solution/
cmake_install.cmake
Makefile
CMakeCache.txt
CPackConfig.cmake
EnabledFeatures.txt
CPackSourceConfig.cmake
CMakeTmp
build_x86
build_x64
dependencies/
_build
0_build
build/
.idea
cmake-build-*/
/.vs